<div class="iconBlockRow">
    <div matRipple class="iconBlock " routerLink="/search">
      <div class="iconBlock__icon">
        <mat-icon class="material-icons-outlined">cake</mat-icon>
      </div>
      <div class="iconBlock__label">Birthday
<!--          <ngx-skeleton-loader-->
<!--            count="1"-->
<!--            animation="pulse"-->
<!--          ></ngx-skeleton-loader>-->
      </div>
    </div>
    <div matRipple class="iconBlock " routerLink="/search">
      <div class="iconBlock__icon">
        <mat-icon class="material-icons-outlined">meeting_room</mat-icon>
      </div>
      <div class="iconBlock__label">Meeting</div>
    </div>
    <div matRipple class="iconBlock " routerLink="/search">
      <div class="iconBlock__icon">
        <mat-icon class="material-icons-outlined">local_bar</mat-icon>
      </div>
      <div class="iconBlock__label">Drink</div>
    </div>
    <div matRipple class="iconBlock " routerLink="/search">
      <div class="iconBlock__icon">
        <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
      </div>
      <div class="iconBlock__label">Date</div>
    </div>
    <div matRipple class="iconBlock " routerLink="/search">
      <div class="iconBlock__icon">
        <mat-icon class="material-icons-outlined">restaurant</mat-icon>
      </div>
      <div class="iconBlock__label">Dining</div>
    </div>
  </div>