<div class="erg-ratings">
    <div class="erg-ratings__value">{{rating}}/{{starCount}}</div>
    <div class="erg-ratings__stars">
        <button class="erg-ratings__starButton" mat-icon-button [color]="color"
            *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)"
            [matTooltip]="ratingId+1" matTooltipPosition="above">
            <mat-icon class="erg-ratings__starButton">
                {{showIcon(i)}}
            </mat-icon>
        </button>
        <mat-error *ngIf="starCount == null || starCount == 0">
            Star count is <strong>required</strong> and cannot be zero
        </mat-error>
    </div>
    <div class="erg-ratings__users" *ngIf="total != 0">({{total}})</div>
</div>