<div class="row">

    <div class="col-12">

        <div class="imageheader">
            <div class="imageheader__col" >
                <div class="imageheader__imageitem">
                    <img class="imageheader__image" [src]="bannerImages[1] ? bannerImages[1].mediaUrl : ''">
                </div>
            </div>
            <div class="imageheader__col">
                <div class="imageheader__imageitem imageheader__imageitem--two">
                    <img class="imageheader__image" [src]="bannerImages[2] ? bannerImages[2].mediaUrl : ''">
                </div>
                <div class="imageheader__imageitem imageheader__imageitem--two">
                    <img class="imageheader__image" [src]="bannerImages[0] ? bannerImages[0].mediaUrl : ''">
                </div>
            </div>
            <div class="imageheader__col">
                <div class="imageheader__imageitem imageheader__imageitem--three">
                    <img class="imageheader__image" [src]="bannerImages[3] ? bannerImages[3].mediaUrl : ''">
                </div>
                <div class="imageheader__imageitem imageheader__imageitem--seven">
                    <img class="imageheader__image" [src]="bannerImages[4] ? bannerImages[4].mediaUrl : ''">
                </div>
            </div>
            <div class="imageheader__col">
                <div class="imageheader__imageitem">
                    <img class="imageheader__image" [src]="bannerImages[5] ? bannerImages[5].mediaUrl : ''">
                </div>
            </div>
            <div class="imageheader__fab">
                <button mat-raised-button color="warn" (click)="viewAll()">View All</button>
            </div>
        </div>

        <!--      <div class="masonry-container">-->
        <!--        <ul class="mdc-image-list mdc-image-list&#45;&#45;masonry my-masonry-image-list">-->
        <!--          <li class="mdc-image-list__item"-->
        <!--              *ngFor="let image of list">-->

        <!--            <img class="mdc-image-list__image"-->
        <!--                 [src]="image">-->

        <!--          </li>-->
        <!--        </ul>-->
        <!--      </div>-->
    </div>
</div>

<ng-container *ngIf="indexImageObject.length > 0">
    <ng-image-fullscreen-view
    [images]="indexImageObject" [show]="isIndexImageShowing" (close)="closeIndexImageHandler()"></ng-image-fullscreen-view>
</ng-container>

