<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <div class="c-title c-title--primary c-title--medium">Favourite Restaurents</div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-box-container flex-box-container--end">
    <mat-paginator [pageSizeOptions]="[9]"></mat-paginator>
  </div>
</div>
<mat-divider class="pt-md pb-md"></mat-divider>
<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let favPlaceItem of obs | async">
    <div mat-ripple class="fav-item">
      <div class="fav-item__avatar">
        <img src="{{ favPlaceItem.imgUrl}}" alt="avatar">
      </div>
      <div class="fav-item__label-wrapper">
        <div class="fav-item__label-primary body-typo-one body-typo-one--medium">{{ favPlaceItem.title}}</div>
        <div class="fav-item__label-secondary subtitle-two subtitle-two--secondary">{{ favPlaceItem.subTitle}}</div>
        <app-rating-stars></app-rating-stars>
      </div>
    </div>
  </div>

</div>
