
<app-background></app-background>
<div class="container home-space">
    <div class="header-image-text-container">
      <div class="header-image-text">Find your table</div>
    </div>
    <div class="search_widget">
      <div class="c-card c-search-form form-list search_widget">
        <app-search-widget class=""></app-search-widget>
      </div>
    </div>
    <app-quick-search></app-quick-search>

    <!-- Promotions Start -->
    <app-promotions></app-promotions>
    <!-- Promotions end -->

    <!-- Recomendations Start -->
    <app-recommendations></app-recommendations>
    <!-- Recomendations End -->

    <!-- Places Start -->
    <app-other-places></app-other-places>
    <!-- Places End -->
    
    <!-- Join Us Start -->
    <app-join-us></app-join-us>
    <!-- Join Us end -->
  </div>