<div class="orderContainer">
    <div class="orderContainer__header">
     <div class="">Order Summary</div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)=" closeBasket()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="orderContainer__content">
  <!--    <div class="emptyResult">-->
  <!--      <app-empty-loader></app-empty-loader>-->
  <!--      <div class="emptyResult__heading">No Items Added</div>-->
  <!--    </div>-->
  
                  <div class="widget-spinner">
                    <div class="labelWrapper">
                      <div class="label label--primary">Bacon & Egg Sandwich</div>
                      <div class="label label--primary">LKR 5000.00</div>
                      <div class="label label--secondary">Small</div>
                    </div>
                    <div class="spinnerWrapper">
                      <div class="widgets-numberpicker__flipper">
                        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn--small">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                      <div class="numberpicker__flipper-value">1</div>
                      <div class="widgets-numberpicker__flipper">
                        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn--small">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="widget-spinner">
                    <div class="labelWrapper">
                      <div class="label label--primary">Bacon & Egg Sandwich</div>
                      <div class="label label--primary">LKR 5000.00</div>
                      <div class="label label--secondary">Small</div>
                    </div>
                    <div class="spinnerWrapper">
                      <div class="widgets-numberpicker__flipper">
                        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn--small">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                      <div class="numberpicker__flipper-value">1</div>
                      <div class="widgets-numberpicker__flipper">
                        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn--small">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="widget-spinner">
                    <div class="labelWrapper">
                      <div class="label label--primary">Bacon & Egg Sandwich</div>
                      <div class="label label--primary">LKR 5000.00</div>
                      <div class="label label--secondary">Small</div>
                    </div>
                    <div class="spinnerWrapper">
                      <div class="widgets-numberpicker__flipper">
                        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn--small">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                      <div class="numberpicker__flipper-value">1</div>
                      <div class="widgets-numberpicker__flipper">
                        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn--small">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
  
  
    </div>
    <div class="orderContainer__footer">
      <div class="">
        <div class="orderContainer__footer__text--secondary">3 Items</div>
        <div class="">LKR 5000.00</div>
      </div>
  
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)=" closeBasket()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  