<ng-container *ngIf="tab == 'general'">
  <div class="column-left">
    <div class="profile-image-container"
      style=" background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f5/Poster-sized_portrait_of_Barack_Obama.jpg');">
      <div mat-ripple class="profile-image-container__uploader">
        <mat-icon>photo_camera</mat-icon>
      </div>
    </div>
    <div class="section-container margin--top-l">
      <div class=" section-container__list-item flex-box-container flex-box-container--spaced  w-100">
        <div class="body-typo-two body-typo-two--secondary">Loyalty Credits</div>
        <div class="body-typo-two body-typo-two--secondary body-typo-two--bold">500</div>
      </div>
      <div class="section-container__list-item flex-box-container flex-box-container--spaced  w-100">
        <div class="body-typo-two body-typo-two--secondary">Loyalty Credits</div>
        <div class="body-typo-two body-typo-two--secondary body-typo-two--bold">500</div>
      </div>
      <div class="section-container__list-item flex-box-container flex-box-container--spaced  w-100">
        <div class="body-typo-two body-typo-two--secondary">Loyalty Credits</div>
        <div class="body-typo-two body-typo-two--secondary body-typo-two--bold">500</div>
      </div>
    </div>
    <div class="section-container margin--top-l">
      <div class="flex-box-container flex-box-container--spaced  w-100">
        <div class="title-4 title-4--secondary">Prefred Cusines</div>
        <button mat-button color="accent">Edit</button>
      </div>

      <mat-chip-list class="margin--top-xs">
        <mat-chip class="hg-chip__outline">
          Mexican
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Swedish
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Latvian
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Italian
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Spanish
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          American
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Japanese
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Canadian
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="section-container">
      <div class="flex-box-container flex-box-container--spaced w-100">
        <div class="title-4 title-4--secondary">Preffred Restaurents </div>
        <button mat-button color="accent">Edit</button>
      </div>
      <mat-chip-list class="margin--top-xs">
        <mat-chip class="hg-chip__outline">
          Fast food
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Fast casual
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Casual dining
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Cafés
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Contemporary casual
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="section-container">
      <div class="title-4 title-4--secondary">Prefred Retuarent Types</div>
      <mat-chip-list class="margin--top-xs">
        <mat-chip class="hg-chip__outline">
          Fast food
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Fast casual
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Casual dining
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Cafés
        </mat-chip>
        <mat-chip class="hg-chip__outline ">
          Contemporary casual
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="tab == 'settings'">
  <div class="column-left">
    <div class="profile-image-container"
      style=" background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f5/Poster-sized_portrait_of_Barack_Obama.jpg');">
      <div mat-ripple class="profile-image-container__uploader">
        <mat-icon>photo_camera</mat-icon>
      </div>

    </div>
    <div class="section-container margin--top-l">
      <div class="title-3">Prefred Cusines</div>
      <mat-chip-list class="margin--top-xs">
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline hg-chip__outline--disabled">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline hg-chip__outline--primary">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline hg-chip__outline--accent">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline hg-chip__outline--warn">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="section-container">
      <div class="title-3">Prefred Retuarent Types</div>
      <mat-chip-list class="margin--top-xs">
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip color="primary" class="hg-chip__outline hg-chip__outline--accent">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip color="primary" class="hg-chip__outline hg-chip__outline--accent">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip color="primary" class="hg-chip__outline hg-chip__outline--accent">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip color="primary" class="hg-chip__outline hg-chip__outline--accent">
          <mat-icon class="margin--right-xs">done</mat-icon>
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
        <mat-chip class="hg-chip__outline">
          Label
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</ng-container>
