<div class="widget-spinner">
    <div class="labelWrapper">
      <div class="label label--primary">Adults</div>
      <div class="label label--secondary">Age above 12</div>
    </div>
    <div class="spinnerWrapper">
      <div class="widgets-numberpicker__flipper">
        <button mat-icon-button class="erg-btn erg-btn-opBtn" (click)="changeCapacity('adult', false)" [disabled]="adults <= 0 ? true : false">
          <mat-icon>remove</mat-icon>
        </button> 
      </div>
      <div class="numberpicker__flipper-value">{{adults}}</div>
      <div class="widgets-numberpicker__flipper">
        <button mat-icon-button class="erg-btn erg-btn-opBtn" (click)="changeCapacity('adult', true)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="widget-spinner">
    <div class="labelWrapper">
      <div class="label label--primary">Children</div>
      <div class="label label--secondary">Age 1-12</div>
    </div>
    <div class="spinnerWrapper">
      <div class="widgets-numberpicker__flipper">
        <button mat-icon-button class="erg-btn erg-btn-opBtn erg-btn-opBtn" (click)="changeCapacity('child', false)" [disabled]="children <= 0 ? true : false">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div class="numberpicker__flipper-value">{{children}}</div>
      <div class="widgets-numberpicker__flipper">
        <button mat-icon-button class="erg-btn erg-btn-opBtn" (click)="changeCapacity('child', true)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!--div class="widget-spinner">
    <div class="labelWrapper">
      <div class="label label--primary">Infants</div>
      <div class="label label--secondary">Age 2-12 months</div>
    </div>
    <div class="spinnerWrapper">
      <div class="widgets-numberpicker__flipper">
        <button mat-icon-button class="erg-btn erg-btn-opBtn  erg-btn-opBtn" (click)="changeCapacity('infant', false)" [disabled]="infants <= 0 ? true : false">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div class="numberpicker__flipper-value">{{infants}}</div>
      <div class="widgets-numberpicker__flipper">
        <button mat-icon-button class="erg-btn erg-btn-opBtn" (click)="changeCapacity('infant', true)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div-->
  
  