<div class="row">
  <div class="col-8">
    <div class="c-title c-title--primary c-title--medium">Loyalty</div>
  </div>
</div>
<mat-divider class="pt-md pb-md"></mat-divider>
<div class="row mb-xl">
  <div class="col-12 col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Available Credits</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <div class="flex-box-container flex-box-container--spaced ml-md mr-md">
        <div class="">
          <div class="body-typo-one">Available Credits</div>
          <div class="body-typo-two body-typo-two--secondary">Subtitle</div>
        </div>
        <div class="">
          <div class="body-typo-one">Available Credits</div>
          <div class="body-typo-two body-typo-two--secondary">Subtitle</div>
        </div>
        <div class="">
          <div class="body-typo-one">Available Credits</div>
          <div class="body-typo-two body-typo-two--secondary">Subtitle</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
