<div appScrollContainer appScrollListner (onFocusOut)='modelCollapse($event)' id="scroll-container"
    class="scroll-container-product-page">
    <div class="container-fluid product-page">
        <!--app-image-slider *ngIf = "loading$"></app-image-slider-->
        <app-product-images *ngIf = "loading$"></app-product-images>
    </div>
    <div class="container product-page">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div a class="nav-bar sidenav">
                    <div *ngFor="let section of sections" (click)="goToSection(section)"
                        [ngClass]="{'active': selectedSection?.id === section?.id}" class="nav-bar__item overview">
                        <div class="">{{ section.title}}</div>
                    </div>
                    <!--        <a matRipple id="overview"    ><span>Overview</span></a>-->
                    <!--        <a matRipple    id="facilities" class="nav-bar__item facilities"><span>Facilities</span></a>-->
                    <!--        <a matRipple   id="Menu" class="nav-bar__item Menu"><span>Menu</span></a>-->
                    <!--        <a matRipple   id="Map" class="nav-bar__item"><span>Map</span></a>-->
                    <!--        <a matRipple  id="Media" class="nav-bar__item Media"><span>Media</span></a>-->
                    <!--        <a matRipple  id="Reviews" class="nav-bar__item Reviews"><span>Reviews</span></a>-->
                </div>
                <app-product-overview *ngIf = "loading$"></app-product-overview>
                
                <app-product-facilities *ngIf = "loading$"></app-product-facilities>
                
                <app-product-menu *ngIf = "loading$"></app-product-menu>
                
                
                <app-product-map *ngIf = "loading$"></app-product-map>
               
                
                

                <app-product-media *ngIf = "loading$"></app-product-media>
                
                <app-product-reviews></app-product-reviews>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <mat-card id="formFieldContainer" class="formFieldContainer search_widget webformFieldContainer">
                    <div class="search_widget_container">
                        <div class="flex-box-container flex-box-container--spaced">
                                <div class="c-title c-title--primary c-title--center" (click)="collapsed=false">Reserve your
                                        space</div>
                                <button class="mat-focus-indicator mat-icon-button mat-button-base" (click)="toggleReservationModal()">
                                    <span class="mat-button-wrapper">
                                        
                                        <mat-slide-toggle color="warn" checked="true"></mat-slide-toggle>
                                            
                                    </span>
                                        
                                </button>
                        </div>
                        
                        <mat-card-content class="formContainer" id="formContainer" [@inOutAnimation] *ngIf="!collapsed">
                            <div class="c-label">Date & Time</div>
                            <div class="input-group search-widget-input mb-3">
                                <div class="input-group-prepend">
                                    <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                </div>
                                <input (click)="myDatepicker.open()" class="form-control" [matDatepicker]="myDatepicker"
                                    placeholder="Select date" (dateInput)="onDate($event)">
                                <mat-datepicker #myDatepicker></mat-datepicker>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="c-label">Party Size</div>
                                    <div class="input-group search-widget-input mb-3" [matMenuTriggerFor]="menu">
                                        <div class="input-group-prepend">
                                            <button mat-icon-button>
                                                <mat-icon>people</mat-icon>
                                            </button>
                                        </div>
                                        <!--        <div class="half-circle half-circle&#45;&#45;left"></div>-->
                                        <input type="text" class="form-control" placeholder="0 People"
                                            aria-label="destination" aria-describedby="basic-addon1" [(ngModel)]="capacityString">

                                    </div>
                                    <mat-menu #menu="matMenu" class="mat-menu-panel-custom">
                                        <app-input-spinner (click)="$event.stopPropagation()" (capacityChanged)="capacityChangedHandler($event)"></app-input-spinner>
                                    </mat-menu>

                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="c-label">Seat Type</div>
                                    <div class="input-group mb-3">
                                        <!--div class="input-group-prepend">
                                            <button mat-icon-button>
                                                <mat-icon>event_seat</mat-icon>
                                            </button>
                                        </div-->
                                        <!--        <div class="half-circle half-circle&#45;&#45;left"></div>-->
                                        <!--input type="text" class="form-control" placeholder="Seat Type"
                                            aria-label="destination" aria-describedby="basic-addon1"-->
                                            <mat-button-toggle-group name="type">
                                                <mat-button-toggle *ngFor="let type of availabiltyUnitTypes; let i = index" (click)="setItems(type)" value="type" [ngStyle]="{'width': availabilityUnitTypeButtonWidth}" [checked]="i == 0 ? true : false">{{type | titlecase}}</mat-button-toggle>
                                
                                              </mat-button-toggle-group>

                                    </div>
                                    <mat-menu #menu2="matMenu" class="mat-menu-panel-custom">
                                        <div class="filter-bar">
                                            <!--mat-chip-list class="filter-chip-list">
                                                <button class="filter-chip filter-chip--square" mat-button *ngFor="let type of availabiltyUnitTypes" (click)="setItems(type)">{{type | titlecase}}</button>
                                                <button class="filter-chip filter-chip--square" mat-button>Booth</button>
                                                <button class="filter-chip filter-chip--square" mat-button>Rooftop</button>
                                            </mat-chip-list-->
                                            <!--mat-radio-group  class="filter-chip-list" aria-label="Select an option">
                                                    <mat-radio-button *ngFor="let type of availabiltyUnitTypes" (click)="setItems(type)" value="type">{{type | titlecase}}</mat-radio-button-->
                                                    <!--button class="filter-chip filter-chip--square" mat-button>Booth</button>
                                                    <button class="filter-chip filter-chip--square" mat-button>Rooftop</button-->
                                            <!--/mat-radio-group-->
                                            
                                        </div>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="c-label">Availabilites</div>
                            <div class="input-group search-widget-input mb-3 " [matMenuTriggerFor]="autoSugggest">
                                <div class="input-group-prepend">
                                    <mat-icon>trip_origin</mat-icon>
                                </div>
                                <input type="text" class="form-control" placeholder="What are you looking for ?"
                                    aria-label="destination" aria-describedby="basic-addon1" [(ngModel)]="selectedAvailUnit">

                            </div>
                            <mat-menu #autoSugggest="matMenu" class="autoList customScroll">
                                <button mat-menu-item *ngFor="let item of selectedAvailabilityUnits" (click)="selectAvailUnit(item.propAvailabilityUnitId.unit_id)">{{item.name ? item.name : item.sysAvailabilityUnit.name}} </button>
                                <!--button mat-menu-item>Item 2</button-->
                            </mat-menu>

                            <div class="c-label">Start From</div>
                            <div class="timeSlots">
                                <mat-chip-list class="timeSlotsList" multiple>
                                    <ng-container *ngFor="let time of timeSlots"  #timeSlotsOuter>
                                            <mat-chip class="timeSlotchip" [ngClass]="{'timeSlotchip--default': time != reservation.time }" (click)="setReservationTimeSlot(time)">{{time | opTime}}</mat-chip>
                                            
                                    </ng-container>

                                    <ng-container *ngIf="showViewMore">
                                            <mat-chip class="timeSlotchip timeSlotchip--more" (click)="viewMore()"> More...</mat-chip>

                                    </ng-container>

                                    <ng-container *ngIf="!showViewMore">
                                            <mat-chip class="timeSlotchip timeSlotchip--more" (click)="showLess()"> Less...</mat-chip>

                                    </ng-container>
                                    
                                    

                                     
                                            
                                   
                                    
                                    
                                    <!--mat-chip class="timeSlotchip timeSlotchip--default">07.50 PM</mat-chip>
                                    <mat-chip class="timeSlotchip ">07.50 PM</mat-chip>
                                    <mat-chip class="timeSlotchip timeSlotchip--default">07.50 PM</mat-chip>
                                    <mat-chip class="timeSlotchip timeSlotchip--default">07.50 PM</mat-chip>
                                    <mat-chip class="timeSlotchip timeSlotchip--more"> More...</mat-chip-->
                                    <!--                <button mat-button color="primary">More...</button>-->
                                </mat-chip-list>
                            </div>
                        </mat-card-content>
                        <button *ngIf="collapsed" class="erg-btn erg-btn--full-width" mat-flat-button color="warn"
                            (click)="collapsed=false">Make A
                            Reservation
                        </button>
                        <button *ngIf="!collapsed" class="erg-btn erg-btn--full-width" mat-flat-button color="warn"
                            (click)="reserve()">Make A
                            Reservation
                        </button>
                    </div>
                </mat-card>
                <app-product-summary></app-product-summary>
            </div>
        </div>
    </div>

    <div class="fab-container reserve-fab">
        <button mat-fab class="extended-fab" id="reserve-btn" color="warn"
            aria-label="Example icon button with a delete icon" (click)="openReserveSheet()">
            <mat-icon>touch_app</mat-icon>
            <span class="extended-fab__label">Reserve</span>
        </button>
    </div>
    <app-footer></app-footer>
</div>