/*.mat-button-toggle-label-content{
    
}*/
::ng-deep{
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
        font-family: sans-serif;
        color: rgba($color: #000000, $alpha: 0.54);
    }
}

.mat-button-toggle-group-appearance-standard{
    width: 100%;
}

.mat-button-toggle-appearance-standard{
    padding-top: 3px;
}

