<footer>
    <div class="container">
      <div class="footer-row footer-info">Find the cheapest and best place for you to meet.</div>
      <div class="footer-row footer-links">
        <div class="footer-link">Privacy Policy</div>
        <div class="footer-link">Terms & Conditions</div>
        <div class="footer-link">Help</div>
        <div class="footer-link">F&Q</div>
      </div>
      <div class="footer-row footer-info">Copyright <span>&#169;</span> hangout.lk. All rights Reserved</div>
    </div>
</footer>
  